!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{rel: 'shortcut icon', href: '/favicon.png', type: 'image/x-icon'}
    %title= yield(:title) || 'Blog'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    .container
      .row
        .col-sm-8.blog-main
          = yield
        = render 'layouts/sidebar'

    = render 'layouts/footer'

    = yield :js
